In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from catboost import CatBoostRegressor, Pool
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [15]:
data = pd.read_csv('processed_data.csv')
data.sample(n=5)

,price,bedrooms,bathrooms,living_square,total_square,floors,view,condition,yr_built,yr_renovated
18798,39225600.0,3,2.50,33333.333333,1.077290e+06,1.0,0,4,33,33
14954,19467520.0,3,1.75,17204.301075,8.291398e+04,1.0,0,3,15,15
4457,54407360.0,4,2.00,21935.483871,1.274194e+05,1.0,2,3,55,55
6723,43511360.0,3,2.75,21075.268817,2.688172e+04,1.5,0,5,88,88
2637,40533120.0,3,2.50,18064.516129,1.004301e+04,3.0,0,3,7,7

In [16]:
y = data['price']
features = [
            'bedrooms', 
            'bathrooms', 
            'living_square', 
            'total_square', 
            'floors',
            'yr_built',
            'yr_renovated',
           ]
categorical_features = []
X = data[features]
train_X, test_X, train_y, test_y = train_test_split(X, y, random_state=1)

train_pool = Pool(train_X, 
                  train_y, 
                  cat_features=categorical_features)
test_pool = Pool(test_X, 
                 cat_features=categorical_features)

In [17]:
model = CatBoostRegressor(
                              depth=10, 
                              iterations=5000, 
                              learning_rate=0.03, 
                              loss_function='MAE'
                         )
model.fit(train_pool, verbose=False)

In [18]:
preds = model.predict(test_pool)
print('Mean: ', (abs(preds - test_y) / test_y * 100).mean())
print('Median: ', (abs(preds - test_y) / test_y * 100).median())
print('Max: ', (abs(preds - test_y) / test_y * 100).max())
print('Min: ', (abs(preds - test_y) / test_y * 100).min())

Mean:  27.22301142576024
Median:  20.356276002946032
Max:  301.6790063072405
Min:  5.816060096627053e-05